# local settings
PyHelpersForPDXWikis/localsettings.py

# default output folder
output

# environment
.venv

# IDEs
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Spreadsheet output
vic3/PMSpreadsheet/*.txt